table.navigation {
    width: 100%;
    color: black;
    text-align: center;
    background-color: rgb(179, 224, 255);
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

.error {
    color: red;
}
