<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{layout}">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <style>
        body{
          background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
        }

        .jumbotron
        {
        background:none;
        }
        .navbar-fixed-top{
            top:0;
            position:fixed;
            right:0px;
            left:0px;
            }
</style>

</head>
<body>

<div layout:fragment="page_content" id="page_content" class="container">
    <div class="jumbotron text-center" >
        <table class="table table-hover">
            <tr>
                <th>ID</th>
                <th>User</th>
                <th>Book</th>
                <th>Author</th>
                <th>Status</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
            <tr th:each="booking : ${bookingsViewModels}">
                <td th:text="${booking.bookingId}"></td>
                <td th:text="${booking.username}"></td>
                <td th:text="${booking.bookName}"></td>
                <td th:text="${booking.bookAuthor}"></td>
                <td th:text="${booking.status}"></td>
                <td><a th:href="@{/bookings/update(bookingId=${booking.bookingId})}">Update</a></td>
                <td><a th:href="@{/bookings/delete(bookingId=${booking.bookingId})}">Delete</a></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>
