<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
    <div layout:fragment="page_content" id="page_content">
        <h2>Welcome to your homepage!</h2>
        <div th:if="${bookingsViewModels.isEmpty()}">
            You don't have any bookings yet.
        </div>
        <div th:unless="${bookingsViewModels.isEmpty()}">
            Your bookings:
            <table>
                <tr>
                    <th>ID</th>
                    <th>Book</th>
                    <th>Author</th>
                    <th>Status</th>
                </tr>
                <tr th:each="booking : ${bookingsViewModels}">
                    <td th:text="${booking.bookingId}"></td>
                    <td th:text="${booking.bookName}"></td>
                    <td th:text="${booking.bookAuthor}"></td>
                    <td th:text="${booking.status}"></td>
                </tr>
            </table>
        </div>
    </div>
</html>
